**/node_modules
**/dist

.git
.gitignore
.dockerignore
Dockerfile

.env
.env.example
server/.env
server/.env.example

server/data.sqlite
server/data.sqlite-shm
server/data.sqlite-wal
server/uploads/*
!server/uploads/.gitkeep

*.md
.vscode
.idea
.DS_Store
npm-debug.log*
